a{
    display: block;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
    
}
a:hover{
    transition: all .5s ease-in-out;
}

p{
    text-align: center;
    margin-left: 500px;
    margin-bottom: 0px;
  display: inline;
    
}
button{
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 500px;
    
}
.alert-primary{
    display: block;
    width: 50%;
    text-align: center;
    width: 30%;
    margin-left: 500px;

}
